<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.brandpromo.mapper.UserMapper">

    <select id="findByUsername" resultType="com.brandpromo.entity.User">
        SELECT * FROM sys_user WHERE username = #{username}
    </select>

    <select id="findById" resultType="com.brandpromo.entity.User">
        SELECT * FROM sys_user WHERE id = #{id}
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO sys_user (username, password, role, nickname, avatar, status)
        VALUES (#{username}, #{password}, #{role}, #{nickname}, #{avatar}, #{status})
    </insert>

    <update id="update">
        UPDATE sys_user
        <set>
            <if test="nickname != null">nickname = #{nickname},</if>
            <if test="avatar != null">avatar = #{avatar},</if>
            <if test="status != null">status = #{status},</if>
            <if test="password != null">password = #{password},</if>
        </set>
        WHERE id = #{id}
    </update>

    <select id="countAll" resultType="int">
        SELECT COUNT(*) FROM sys_user
    </select>
</mapper>
